<div style="text-align: center;">
    <h1>Administrative Page</h1>

    <!-- Account Key Code -->
    <h2>Account Key</h2>
    <div>
        {{vm.keyCode.key}}
    </div>

    <!-- User List for Admin -->
    <h2>Users</h2>
    <div style="margin: 10px;">
        <div>No. of Administrators: {{vm.numAdmin}}</div>
        <div>No. of Volunteers: {{vm.numVolunteers}}</div>
        <div>Total Users: {{vm.totalUsers}}</div>
    </div>
    <div style="margin: 10px;">
        <button>Email All</button>
    </div>
    <div style="height: 300px; overflow: auto;">
        <table style="margin: 0 auto;">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th> 
                <th>Admin?</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users">
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td> <!-- hyperlink for admin to email individuals -->
                    <td><input type="checkbox" name="admin" ng-model="user.isAdmin" ng-change="vm.countUsers()" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>