label {
  display: inline-block;
}​

.img-circle {
    border-radius: 50%;
}

.vert-align {
    display: flex;
    align-items: center;
}

.no-padding {
    padding-right:0px;
    padding-left:0px;
}

.horz-center {
        margin: auto;
}

table {
    text-align:center;
    width:100%
}

.inline {
    display:inline;
}

.rounded-border {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 10px;
    color: rgba(128, 128, 128, 0.92);
}