.container {
    width:100% !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
    margin-right: auto;
    margin-left: auto;
    width: 523px;
    margin-top: 20px;
}

.navbar-centered {
    text-align:center;
}