<div>
    <h1>Analytics Page</h1>

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a data-target="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
            <li><a data-target="#volunteers" aria-controls="volunteers" role="tab" data-toggle="tab">Volunteers</a></li>
            <li><a data-target="#community" aria-controls="community" role="tab" data-toggle="tab">Community</a></li>
        </ul>
        <div class="tab-content" style="width: 95%; margin: 0 auto;">
            <div role="tabpanel" class="tab-pane active" id="events">
               <h3>Events Count</h3>
                <div class="row form-group" style="margin: 10px 20px;">
                    <label for="eventsYear">Year: </label>
                    <select id="eventsYear" class="form-control" style="width: 10%; display: inline-block" ng-model="vm.eventsYear">
                        <option value="2016">2016</option>
                    </select>
                    <button class="btn btn-primary" ng-click="vm.createEventsCountReport()">Submit</button>
                </div>
                <div ng-show="vm.showEventsCount == 'true'">
                    <div id="eventsCountChart" style="height: 500px; width: 80%; margin: 20px auto"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="volunteers">
                <h3>Organizational Growth</h3>
                <div class="row form-group" style="margin: 10px 20px;">
                    <label for="growthYear">Year: </label>
                    <select id="growthYear" class="form-control" style="width: 10%; display: inline-block" ng-model="vm.growthYear">
                        <option value="2016">2016</option>
                    </select>
                    <button class="btn btn-primary" ng-click="vm.createGrowthReport()">Submit</button>
                </div>
                <div ng-show="vm.showGrowth == 'true'">
                    <div id="growthChart" style="height: 500px; width: 80%; margin: 20px auto"></div>
                </div>
                <hr />
                <h3>Login Activity</h3>
                <div class="row form-group" style="margin: 10px 20px;">
                    <label for="growthYear">Year: </label>
                    <select id="growthYear" class="form-control" style="width: 10%; display: inline-block" ng-model="vm.loginYear">
                        <option value="2016">2016</option>
                    </select>
                    <button class="btn btn-primary" ng-click="vm.createLoginReport()" >Submit</button>
                </div>
                <div ng-show="vm.showLogin == 'true'">
                    <div id="loginChart" style="height: 500px; width: 80%; margin: 20px auto;"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="community">
                In Community
            </div>
        </div>
    </div>

    <!--<ul class="nav nav-tabs">
        <li class="active"><a href="#">Events</a></li>
        <li><a href="#">Volunteers</a></li>
        <li><a href="#">Community</a></li>
    </ul>-->
</div>
